---
import { Icon } from '@astrojs/starlight/components';
---

<section class="sl-flex">
	<a href="/sponsor" class="sl-flex">
		<Icon name="heart" size="1.2em" />
		Team
	</a>

	<a href="/ecosystem/overview" class="sl-flex">
		<Icon name="nix" size="1.2em" />
		Ecosystem
	</a>

	<a href="https://github.com/denful" class="sl-flex">
		<Icon name="github" size="1.2em" />
		GitHub
	</a>
</section>

<style>
	section {
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem 1.5rem;
		font-size: var(--sl-text-sm);
	}

	a {
		align-items: center;
		text-decoration: none;
		gap: 0.5rem;
		color: var(--sl-color-gray-3);
	}

	a:hover {
		color: var(--sl-color-white);
	}
</style>
