---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<a href="https://github.com/denful"><img src="https://img.shields.io/badge/GitHub-denful-white?logo=github&logoColor=white" alt="Denful on GitHub"/></a>

<a href="https://denful.dev"><img src="https://img.shields.io/badge/denful.dev-Nix%20Libraries-informational?logo=nixos&logoColor=white" alt="Denful Nix Libraries"/></a>

<Default />
